body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #293264;
}

.app {
  background: #293264;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  background: #f5f7fb;
  height: 550px;
  width: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: #4d5b9e;
  border-radius: 15px;
  border: none;
  color: white;
  width: 193px;
  height: 52px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.description {
  margin-top: 0;
}

.question {
  margin: 0 20px;
  font-size: 10px;
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}

.variants {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
}

.variants > li {
  border: solid gray 1px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
